BASE/*.O
BASE/*.OD
BASE/*.OT
BASE/*.ILK
BASE/*.MAP
BASE/*.EXP
BASE/SIERRA.EXE
BASE/SCI.EXE
BASE/SIERRAM.EXE
BASE/SCITESTR.EXE
EXT/*.O
EXT/*.OD
EXT/*.OT
EXT/*.ILK
EXT/*.MAP
EXT/*.EXP
EXT/SIERRA.EXE
EXT/SCI.EXE
EXT/SIERRAM.EXE
EXT/SCITESTR.EXE
.hgignore
.hg/*